<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello Mr.</title>
    <%- include('components/styles')%>
    <link rel="stylesheet" href="/assets/css/admin.css">
</head>
<body>
    <div class="container">
        <h1>Розыгрыш</h1>
        <% if (quizzes.length > 0) { %>
            <div class="quizzes">
                <% quizzes.forEach(quiz => { %>
                    <div class="quiz">
                        <div class="quiz-text"><%= quiz.text%></div>
                        <div class="quiz-phone"><%= quiz.phone%></div>
                    </div>
                <% }); %>
            </div>
        <% } else { %>
            <h2 class="Error">No quizzes yet</h2>
        <% } %>
        
        <h1>Добавить товар</h1>
        <form action="/add" method="POST" enctype="multipart/form-data">
            <input type="file" name="image">
            <input type="text" name="title">
            <input type="number" name="cost">
            <input type="submit">
        </form>
    </div>
</body>
</html>