<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flowarea</title>
    <%- include('components/styles')%>
    <link rel="stylesheet" href="/assets/css/index.css"/>
</head>
<body>
    <header>
        <div class="header-container">
            <div class="brand-name">
                Flowarea
            </div>
            <ul class="nav">
                <li><a href="#" class="order">Заказать</a></li>
                <li><a href="#">О нас</a></li>
            </ul>
            <div class="burger">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <ul class="responsive-nav">
                <li><a href="#" class="list-item">Заказать</a></li>
                <li><a href="#" class="list-item">О нас</a></li>
            </ul>
        </div>
    </header>
    <div class="big-image">
        <div class="img-text">
            Скажи, что ты любишь, безз слов
        </div>
    </div>
    <div class="we">
        <div class="icon-container">
            <i class="fa fa-pagelines"></i>
            <div class="text-us">
                Хорошое качество
            </div>
        </div>
        <div class="icon-container">
            <i class="fa fa-dollar"></i>
            <div class="text-us">
                Приемлимая цена
            </div>
        </div>
        <div class="icon-container">
            <i class="fa fa-truck"></i>
            <div class="text-us">
                Доставка по всему городу
            </div>
        </div>
    </div>

    <script src="/assets/js/main-page.js"></script>
</body>
</html>