
.container {
    width: 1024px;
    margin: 0 auto;
    font-family: 'Poiret One', cursive;
}

.container h1 {
    background-color: #000;
    color: #fff;
    padding: 1rem;
}

.trash {
    position: absolute;
    top: 5%;
    right: 10px;
    color: #ff6347;
    font-size: 1.5rem;
    cursor: pointer;
    transition: transform 0.15s;
}

.trash:hover {
    transform: rotate(20deg);
}

.quizzes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.quiz {
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin: 0.5rem; 
    flex-wrap: wrap;
    color: #fff;
    background-color: teal;
    width: 90%;
    border-radius: 5px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    justify-content: space-between;
    overflow: hidden;
}

.quiz-text {
    padding: 1rem;
}

.quiz-phone {
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.582);
}

form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form input::-webkit-input-placeholder, form textarea::-webkit-input-placeholder {
    color: #fff;
}

form input, form textarea {
    width: 400px;
    padding: 0.5rem;
    font-family: 'Poiret One', cursive;
    border: 1.5px solid #000;
    outline: none;
    border-radius: 5px;
    margin: 0.5rem 0;
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: teal;
}

.flowers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flower {
    width: 200px;
    background-color: #000;
    margin: 1rem;
    color: #fff;
    cursor: pointer;
    position: relative;
    font-size: 1.1rem;
    font-family: 'Ubuntu', sans-serif;
}

.flower-cost, .flower-title {
    padding: 0.5rem;
}

.flower-cost {
    background-color: teal;
}

.flower-image {
    width: 100%;
    height: 120px;
}

.orders {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    flex-wrap: wrap;
}

.order {
    margin: 1rem;
    position: relative;
}

.order div {
    color: black;
    font-weight: bold;
    font-size: 1.1rem;
}

.check-product {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    flex-direction: column;
    width: 100%;
    padding: 3rem 0;
}

.check-product .product {
    margin-bottom: 1rem;
    width: 200px;
    color: black;
    font-weight: bold;
    border: 1px solid black;
    font-size: 1.1rem;
    display: none;
}

.product-img {
    width: 200px;
    height: calc(200px / 1.8);
}

.product-cost, .product-title, .product-description {
    border-bottom: 1px solid #000;
    padding: 0.5rem;
}

.product-error {
    font-weight: bold;
    font-size: 2rem;
    padding: 1rem;
}


@media (max-width: 1024px) {
    .container {
        width: 100%;
    }

}

@media (max-width: 420px) {
    form input {
        width: 95%;
    }
}